SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3

# Уведомления о новых заказах
ORDER_NOTIFICATION_EMAIL=info@meadowshore.ru
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
